.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.timer {
    display: flex;
    justify-content: flex-end;
    background-color: #adff2f;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0.5vmin;
    width: 100%;
    transition: width ease-in;
}

.question {
    font-weight: 500;
    margin: 2rem;
}

.choices {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.choice, .disabled {
    transform: scale(1.1);
    display: flex;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.choice:hover, .correct  {
    background-color: #adff2f;
    color: #252850;
}

.mistaken {
    background-color: firebrick;
}